@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .headline-l {
    @apply text-xl font-normal tracking-wide font-display
  }

  .body-l {
    @apply text-base font-normal tracking-wider font-body
  }
  .body-m {
    @apply text-sm font-normal tracking-wide font-body
  }
  .body-s {
    @apply text-xs font-normal font-body
  }

  .label-l {
    @apply text-sm font-medium tracking-widest font-body
  }
  .label-m {
    @apply text-xs font-medium tracking-wider font-body
  }
}

.test {
  background-color: #8d418a14;
}